p{
    text-align: center;
      font-size: 25px;
color: white;
    margin: 0px;
}
img {
 	float: left;
	margin-right: 20px;
}
#img2 {
 	float: right;
	margin-right: 20px;
}
h1 {
  font-size: 3rem;
  color: white;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-family: 'Montserrat', sans-serif;
    background-color: brown;
}
h2{
      color: white;
    background-color: darkblue;
    text-align: center;
      font-family: 'Montserrat', sans-serif;
          font-size: 35px;
  
}
body{
    background-color: darkcyan
}