#img{
    float: left; 
    width: 10%;
    display: inline-block;
}
h1{
    text-align: center;
}
p{
         display: inline-block;
    border-style: none;
    width: 70%;
    margin: 0px;
    text-align: center;
    font-size: 50px;
}