h1 {
  font-size: 3rem;
  color: black;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-family: 'Montserrat', sans-serif;
}
h2{
    color: white;
    background-color: darkblue;
    text-align: center;
      font-family: 'Montserrat', sans-serif;
          font-size: 35px;

}
img {
	float: right;
	margin-right: 20px;
    width=50px;
    height=31px;
}
body
{
    background-color: cadetblue;
}
p{
        text-align: center;
      font-size: 30px;
    color: black;
}

    margin: 0px;
}